@charset "UTF-8";
/* Variables */
/* Global Styles */
a, a:link, a:hover, a:active, a:visited {
  text-decoration: none; }

section {
  padding: 3em 0; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0; }

.intro {
  margin: 0 auto 2em; }
  .intro .main-heading {
    font-size: 3.5em;
    line-height: 1.2em;
    text-align: center; }
  .intro .sub-heading {
    font-size: 2.5em;
    text-align: center; }
  .intro .section-description {
    font-size: 1.2em;
    text-align: center;
    width: 80%;
    margin: 0 auto; }

/* Hero */
.hero {
  position: relative;
  height: 95vh;
  background: url(../img/background-placeholder.jpg);
  background-attachment: fixed; }
  .hero .intro, .hero .download {
    z-index: 1; }
  .hero .intro {
    width: 70%;
    color: #e7e7e7; }
    .hero .intro .sub-heading {
      margin: 0.5em 0 0; }
  .hero .download {
    margin: 0 auto; }
    .hero .download a {
      margin: 0 1em; }

/* features */
.features {
  background: #F4F4F4; }
  .features .feat {
    text-align: center;
    padding: 0; }
  .features .inner {
    background-color: #fff;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.08);
    transition: all 0.3s linear;
    padding: 1em;
    margin: 1em; }
    .features .inner:hover i {
      background: #FEEDEF;
      color: #333; }
    .features .inner:hover h3 {
      color: #FFF; }
    .features .inner:hover p {
      color: #DDD; }
  .features i {
    color: #fff;
    font-size: 2em;
    width: 76px;
    height: 76px;
    border-radius: 100%;
    background-color: #FF6B6B;
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.28);
    line-height: 76px;
    display: inline-block;
    margin-bottom: 10px;
    transition: all 0.4s linear; }
  .features h3 {
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
  .features .inner:hover {
    background: #FF6B6B; }

/* faq */
.faq .panel {
  border: 0;
  margin-bottom: 20px !important;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1); }
  .faq .panel .panel-heading {
    padding: 0; }
    .faq .panel .panel-heading .panel-title {
      font-size: 19px;
      text-align: left; }
      .faq .panel .panel-heading .panel-title a {
        background: #FF6B6B;
        display: block;
        padding: 15px;
        color: #fff;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        -sm-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        .faq .panel .panel-heading .panel-title a:after {
          content: "▲";
          font-weight: bold;
          float: right;
          color: #fff; }
      .faq .panel .panel-heading .panel-title a.collapsed {
        background: 0;
        color: #888888; }
        .faq .panel .panel-heading .panel-title a.collapsed:after {
          content: "▼";
          font-weight: bold;
          float: right;
          color: #888888; }
  .faq .panel .panel-collapse .panel-body {
    font-size: 1.1em;
    padding: 0 1em 1em;
    color: #555; }
.faq .faq-alternative {
  padding: 50px;
  background: #FF6B6B;
  color: #fff;
  text-align: center; }
  .faq .faq-alternative ul li {
    text-align: center; }
    .faq .faq-alternative ul li a {
      display: block;
      margin: 15px auto;
      padding: 10px;
      text-align: center;
      transition: all 300ms ease; }
      .faq .faq-alternative ul li a i {
        float: left;
        margin: 0.25em;
        font-size: 17px; }
      .faq .faq-alternative ul li a:hover {
        -webkit-box-shadow: 0px 0px 10px 0px white;
        -moz-box-shadow: 0px 0px 10px 0px white;
        box-shadow: 0px 0px 10px 0px white; }
    .faq .faq-alternative ul li a.facebook {
      background: #3b5998;
      color: #fff; }
    .faq .faq-alternative ul li a.message {
      background: #fff;
      color: #000; }

/*# sourceMappingURL=app.css.map */
